.sidebar-menu-container {
  margin-top: 2rem;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 100%;
}

li a {
  display: block;
  color: #000;
  padding: 8px 16px;
  text-decoration: none;
  font-weight: 600;
}

li a:hover {
  background-color: #99c2ff;
  color: #ffffff;
  cursor: pointer;
}

.is-active {
  border: 1px solid #000000;
}
