.main-content {
  display: flex;
  margin-top: 2rem;
  justify-content: space-around;
}

.sidebar {
  padding: 30px 15px 25px 15px;
  background-color: #ffffff;
  border-radius: 10px;
  width: 20%;
}

.contacts-container {
  background-color: #ffffff;
  border-radius: 10px;
  width: 77%;
  padding: 10px;
}

.contacts-container button {
  text-align: center;
}

@media screen and (max-width: 500px) {
  .main-content {
    flex-direction: column;
  }

  .sidebar {
    width: 100%;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 5vh;
  }

  .contacts-container {
    width: 100%;
  }
}
